@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'O4B';
    src:url('fonts/04B_30_.TTF');
}

@font-face {
    font-family: 'Arcade';
    src: url('fonts/arcadeclassic/ARCADECLASSIC.TTF');
}

@font-face {
  font-family: 'Solitarium';
  src: url('fonts/Solitarium.ttf');
}

@font-face {
    font-family: 'LunchDS';
    src:url('fonts/lunchds/lunchds.ttf');
}


:root {
    --pri-col-1: #C99700;
    --pri-col-2: #AE9142;
    --pri-col-3: #0C2340;
    --light: #EEEEEE;
}

html, body{
	margin:0;
	padding:0;
    background-color: var(--light);
    height:100%;
}

/* Navigation CSS */

.nav #title {
        font-family: 'O4B';
        font-size: 40px;
        color: var(--pri-col-3);
        text-shadow:
            2px 2px 0 var(--light);
        font-weight: bold;
        padding-right: 20px;
        padding-left: 20px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
}

.nav {
	top: 0px;
	margin-left: 0px;
	width: 100%;
	position: relative;
        background: -moz-linear-gradient(top, var(--pri-col-2) 0%, var(--pri-col-1) 40%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, var(--pri-col-2) 0%, var(--pri-col-1) 40%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, var(--pri-col-2) 0%, var(--pri-col-1) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	z-index: 5;
}

.nav .row {
    position: relative;
    width: 150%;
}

.nav ul {
    margin: 0px;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a:focus {
    outline: 0;
}

.nav a:active {
    padding-right: 19px;
    padding-left: 21px;
}

.nav a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: white;
    transition: width .5s steps(6, start);
    border: none;
}

.nav a:hover:after {
    width: 100%;
    background: #EEEEEE;
}

.nav #links {
    font-family: 'O4B';
    color: #EEEEEE;
    font-size: 20px;
}

/* Resources CSS */

.expand {
    position: relative;
}

.expand ul{
    padding-left: 0px;
    list-style: none;
}


.expand .links li{
    display: inline;
    padding-left: 40px;
}

.expand .links{
    color: white;
    font-family: 'Arcade';
    font-size: 25px;
    text-align: center;
    height: 50px;
    background-color: #666666;
    border: none;
    margin-top: 30px;
}

.expand .btn1{
    width: 100%;
    height: 70px;
    color: #FFFFFF;
    font-family: 'Arcade';
    font-size: 35px;
    letter-spacing: 0.3em;
    background-color: var(--pri-col-3);
    border: none;
}

.expand .btn2{
    width: 100%;
    height: 50px;
    color: #FFFFFF;
    font-family: 'Arcade';
    background-color: #888888;
    border: none;
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

.expand .links .btn2{
    width: 15%;
    height: 35px;
    font-family: 'LunchDS';
    text-decoration: none;
    background-color: #93bbeb;
    border-radius: 15px;
}

.expand .btn2:focus, .expand .btn1:focus{
    outline: none;
}

.expand button.btn1.collapsed:before{
    content:' + ' ;
}
.expand button.btn1:before{
    content:' - ' ;
}

.expand .collapse{
    width: 100%;
}


/* Homepage Jumbotron CSS */

.mission {
        color: var(--pri-col-3);
        font-family: 'Arcade';
        width: 100%;
        word-wrap: break-word;
        display: inline-block;
        padding: 0px 0px 0px 0px;
        font-size: 20px;
}

.mission p {
        margin: 0 auto;
        width: 900px;
        text-align: center;
}

.index .jumbotron {
	position: absolute;
	/*background-color: #232729;*/
        background-color: #111111;
	width: 100%;
	height: 100%;
        min-width: 1200px;
}

.index .jumbotron .container {
	top: 78%;
	text-align: center;
        position: relative;
	transform: translate(94%, -50%);
        width: 400px;
}

.index #text {
        display: inline-block;
        background: rgba(0, 0, 0, 0.65);
	color: white;
	text-align: center;
        padding: 3px 23px;
}

#terminal {
        background: black;
        color: #00ee00;
        font-family: courier new;
        font-size: 14px;
        letter-spacing: 4px;
        width: 800px;
        padding: 20px;
        margin: 0 auto;
        border: 5px solid gray;
}

@-webkit-keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: #00ee00; }
}

@keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: #00ee00; }
}

.cursor {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: .5em solid;
  display: inline;
  -webkit-animation: blinking 1s step-end infinite;
  animation: blinking 1s step-end infinite;
}

/* About CSS */

.about {
    font-size: 20px;
    font-family: 'LunchDS';
    position: relative;
}

.about a, .about a:focus {
    text-decoration: none;
    outline: none;
}

.about .link {
    height: 80px;
    padding: 10px;
    margin: 20px;

    border-radius: 4px;

    transition: transform .5s steps(6, start);
}

.about .link:hover {
    padding-left: 9px;
    padding-right: 11px;
    box-shadow: 0 0 2px 1px var(--pri-col-3);
}

.about .link:active {
    padding-right: 10px;
    padding-left: 10px;
}

#boardmem {
  font-size: 16px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px;
  color: var(--light);
  word-wrap: break-word;
  border: 3px var(--pri-col-3) solid;
  display:inline-block;
  float:left;
  height: auto;
  position: relative;
  overflow: hidden;
}

#boardmem p {
  font-family: 'LunchDS';
  color: var(--pri-col-3);
  text-shadow: 1px 1px 4px #FFFFFF;
  position: relative;
}

#boardmem img {
    opacity: 1.0;
    position: relative;
    border: 3px var(--pri-col-3) solid;
}

#boardmem #bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.3;
}

/* Footer CSS */

.footer {
    width: 100%;
    height: auto;

    text-align: center;
    position: relative;
    margin-top: 30px;
    padding-bottom: 0px;
}
